/* :root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-dark: #212121;
  --primary-text-color-light: #757575;
  --secondary-text-color-light: #ffffff;
  --third-text-color-light: #f5f4fa;
  --accent-color: #2196f3;
} */
body {
  background-color: rgba(39, 39, 39, 0.67);
  margin: 50px;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ul {
  list-style: none;
} */
a {
  text-decoration: none;
}
ul{
  display: flex;
  flex-direction: column;
  
}
